.container {
  display: flex;
  justify-content: center;
  padding: 20px;
  border-bottom: 1px solid #aaaa;
  width: 30%;
  margin: 0 auto;

  .title {
    text-align: left;
    font-size: 20px;
    white-space: nowrap;
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .Done {
    color: gray;
    text-decoration: line-through;
  }

  .deleteIcon {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}
